<section class='header' id='header'>
  <!-- Header Top Bar - Start -->
  <div class="topbar-wrap">
      <div class="container">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 logo-area">

          </div>
          <!-- Acá va el menú -->
          <app-menu></app-menu>
          <!-- FIN DEL MENÚ -->
      </div>
  </div>

  <!-- Header Top Bar - End -->
  <div class="header-bg ">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 hidden-xs"></div>
      <!-- Header Tracking Box - Start -->

      <!-- Header Tracking Box - End -->
      <div id="header-slider" class="owl-carousel">
          <!-- Header Content Slide - Start -->
          <div style="position:relative;display:inline-block;width:100%;height:auto;">
              <img src="/assets/img/banner-1.png" alt="Header Image" class="img-responsive owl-lazy">
              <div ></div>
          </div>

          <!-- Header Content Slide - End -->
          <!-- Header Content Slide - Start -->
          <div style="position:relative;display:inline-block;width:100%;height:auto;">
              <img src="/assets/img/banner-2.jpg" alt="Header Image" class="img-responsive owl-lazy">
              <div ></div>

          </div>
          <!-- Header Content Slide - End -->
          <!-- Header Content Slide - Start -->
          <div style="position:relative;display:inline-block;width:100%;height:auto;">
              <img src="/assets/img/banner-3.png" alt="Header Image" class="img-responsive owl-lazy">
              <div ></div>

          </div>
          <!-- Header Content Slide - End -->
      </div>
      <!-- Header Social Icons - Start -->
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 social-wrap hidden-xs">
          <div class="social-box">
              <div class="social-icons-wrap">
                  <a href="https://api.whatsapp.com/send?phone=541141711760&text=hola,%20¿cómo%20estás?%20quería%20consultarte: "><i class="icon fa fa-whatsapp text-on-primary" style="font-size: 23px;padding-top: 2px;"></i></a>
                  <!-- <a href="#"><i class="icon icon-facebook text-on-primary"></i></a>
                  <a href="#"><i class="icon icon-twitter text-on-primary"></i></a>
                  <a href="#"><i class="icon icon-google-plus text-on-primary"></i></a> -->
              </div>
          </div>
      </div>
      <!-- Header Social Icons - End -->
  </div>
</section>
