<section class="contact" id="contact">
  <div class="container">

    <div class="row">
      <div style="width: 100%">
        <iframe
          width="100%"
          height="600"
          frameborder="0"
          scrolling="no"
          marginheight="0"
          marginwidth="0"
          src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Padre%20Nuestro%201168%20-%20General%20Pacheco+(Transporte%20Nortruck)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
        ></iframe
        >
      </div>
      <h1 class="heading">Contáctanos</h1>
      <div class="headul"></div>
      <p class="subheading">
        Si deseas ponerte en contacto, escribinos un mensaje o por WhatsApp
      </p>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <!-- Contact Form - Start -->
        <!-- <div class="row">
          <form action="https://mailthis.to/nortruckemail"
    method="POST" encType="multipart/form-data">
    <input type="text" name="name" placeholder="Ingrese su nombre">
    <input type="email" name="_replyto" placeholder="Ingrese su dirección de correo electrónico">
    <textarea name="message" placeholder="Ingrese su mensaje aquí"></textarea>
    <input type="hidden" name="_subject" value="Contact form submitted">
    <input type="hidden" name="_after" value="http://webeandositio.com/#/">
    <input type="hidden" name="_honeypot" value="">
    <input type="hidden" name="_confirmation" value="">
    <input class="btn btn-primary" type="submit" value="Enviar">
</form>
        </div> -->
        <!-- Contact Form - End -->
        <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)"><div class="form-group">
          <label for="Email">Email</label>
          <input type="email" class="form-control" name="Email" aria-describedby="emailHelp" placeholder="Ingrese su email"formControlName="Email">
          </div>
          <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" name="Nombre" placeholder="Ingrese su nombre" formControlName="Nombre">
          </div>
          <div class="form-group">
          <label for="comment">Mensaje</label>
          <textarea class="form-control" formControlName="Mensaje" name="Comment">
          </textarea>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!FormData.valid">Submit</button>
          </form>
      </div>
      <div
        class="col-lg-5 col-md-5 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-0 contact-full-info"
      >
        <h5></h5>
        <p>
          <br />
          Dirección: {{ info.datosPersonales.direccion }}
          <br />
          <br />
          Email: {{ info.datosPersonales.email }}
          <br />
          <br />
          Teléfono: {{ info.datosPersonales.whatsapp }}
          <br />
          <a
          href="https://api.whatsapp.com/send?phone=541141711760&text=hola,%20¿cómo%20estás?%20quería%20consultarte: "
            class="btn btn-primary-outline"
            style="background: green; color: white"
          >
            <i
              class="fa fa-whatsapp"
              style="font-size: 25px; margin-right: 15px"
            ></i
            >Click acá para escribirnos por Whatsapp</a
          >
        </p>
        <br />
      </div>
    </div>
  </div>
</section>
<!-- Section End - Get In Touch -->
