<section class="contact" id="contact">
  <div class="container">
    <div class="row"></div>
    <div class="row">
      <div style="width: 100%">
        <iframe
          width="100%"
          height="600"
          frameborder="0"
          scrolling="no"
          marginheight="0"
          marginwidth="0"
          src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Padre%20Nuestro%201168%20-%20General%20Pacheco+(Transporte%20Nortruck)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
        ></iframe
        >
      </div>
      <h1 class="heading">Contáctanos</h1>
      <div class="headul"></div>
      <p class="subheading">
        Si deseas ponerte en contacto, escribinos un mensaje o por WhatsApp
      </p>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <!-- Contact Form - Start -->
        <div class="row">
          <form
            action="mail_handler.php"
            method="post"
            name="form"
            class="form-box"
          >
            <div class="col-xs-12">
              <input
                type="text"
                name="name"
                placeholder="ingrese su nombre"
                class="transition"
                id="c_name"
              />
            </div>
            <div class="col-xs-12">
              <input
                type="text"
                name="email"
                placeholder="ingrese su email"
                class="transition"
                id="c_email"
              />
            </div>
            <div class="col-xs-12">
              <input
                type="tel"
                name="phone"
                placeholder="Ingrese su teléfono"
                class="transition"
                id="c_phone"
              />
            </div>
            <div class="col-xs-12">
              <textarea
                class="transition"
                name="msg"
                placeholder="Ingrese su msj"
                id="c_message"
              ></textarea>
            </div>
            <div id="response_email" class="col-xs-12"></div>
            <div class="col-xs-4">
              <input
                type="submit"
                name="submit"
                value="Enviar"
                class="btn btn-primary"
                id="c_send"
              />
            </div>
          </form>
        </div>
        <!-- Contact Form - End -->
      </div>
      <div
        class="col-lg-5 col-md-5 col-sm-5 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-0 contact-full-info"
      >
        <h5>Contacto</h5>
        <p>
          <br />
          Dirección: {{ info.datosPersonales.direccion }}
          <br />
          <br />
          Email: {{ info.datosPersonales.email }}
          <br />
          <br />
          Teléfono: {{ info.datosPersonales.whatsapp }}
          <br />
          <a
          href="https://api.whatsapp.com/send?phone=541141711760&text=hola,%20¿cómo%20estás?%20quería%20consultarte: "
            class="btn btn-primary-outline"
            style="background: green; color: white"
          >
            <i
              class="fa fa-whatsapp"
              style="font-size: 25px; margin-right: 15px"
            ></i
            >Click acá para escribirnos por Whatsapp</a
          >
        </p>
        <br />
      </div>
    </div>
  </div>
</section>
<!-- Section End - Get In Touch -->
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="row">
    <div id="contact-map" class="gmap"></div>
  </div>
</div>
