<div class="col-lg-7 col-md-8 col-sm-7 col-xs-5 menu-area">
  <!-- Menu Top Bar - Start -->
  <div class="topbar">
      <div class="menu">
          <div class="primary inviewport animated delay2" data-effect="">
              <div class='cssmenu'>
                  <!-- Menu - Start -->
                  <ul class='menu-ul'>
                      <li class='has-sub'>
                          <a routerLink="/home" class="menuStyle">Inicio </a>

                      </li>

                      <li class='has-sub'>
                          <a routerLink="/nuestros-servicios" class="menuStyle">Nuestros Servicios </a>

                      </li>
                      <li class='has-sub'>
                          <a routerLink="/blog" class="menuStyle">Blog </a>

                      </li>
                      <li class='has-sub'>
                          <a routerLink="/contacto" class="menuStyle">Contacto </a>
                      </li>
                  </ul>
                  <!-- Menu - End -->
              </div>
          </div>
      </div>
  </div>
  <!-- Menu Top Bar - End -->
  <!-- Mobile Menu - Start -->
  <div class="menu-mobile col-xs-10 pull-right cssmenu">
      <i class="icon icon-menu menu-toggle"></i>
      <ul class="menu" id='parallax-mobile-menu'>
      </ul>
  </div>
  <!-- Mobile Menu - End -->
</div>
