<section class="major-services gray-boxes" id="major-services">
  <div class="container">
    <div class="row">
      <h1 class="heading title">Nuestros Servicios</h1>
      <div class="headul"></div>
      <p class="subheading">

      </p>
      <!-- Service - Start -->
      <div
        class="col-lg-4 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 service inviewport animated delay1"
        data-effect="fadeInUp"
      >
        <div class="service-wrap">
          <div class="pic">
            <img
              alt="service-image"
              class="img-responsive"
              src="assets/img/service-1.png"
            />
            <div class="info-layer transition">
              <a
                class="btn btn-primary fancybox"
                title="Air Freight Service"
                data-fancybox-group="service-gallery"
                href="assets/img/service-1.png"
                ><i class="icon icon-image-area"></i
              ></a>
            </div>
          </div>
          <div class="info">
            <h4 class="title">Cargas generales</h4>
            <br>
            <p>
              Transportamos cargas completas desde y hacia cualquier punto del
              país, común o catalogada IMDG hasta 28 y 29 toneladas.
            </p>
            <br />
            <ul class="text-left">
              <li>Big bags</li>
              <li>Cargas a granel</li>
              <li>Cargas palletizadas</li>
            </ul>

          </div>
        </div>
      </div>
      <!-- Service - End -->
      <!-- Service - Start -->
      <div
        class="col-lg-4 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 service inviewport animated delay2"
        data-effect="fadeInUp"
      >
        <div class="service-wrap">
          <div class="pic">
            <img
              alt="service-image"
              class="img-responsive"
              src="assets/img/service-2.png"
            />
            <div class="info-layer transition">
              <a
                class="btn btn-primary fancybox"
                title="Roadway Freight Service"
                data-fancybox-group="service-gallery"
                href="assets/img/service-2.png"
                ><i class="icon icon-image-area"></i
              ></a>
            </div>
          </div>
          <div class="info">
            <h4 class="title">CARGAS PELIGROSAS</h4>
            <br>
            <p>
              Transportamos todo tipo de cargas peligrosas y precursores químicos.
              Contamos con la inscripción de Cedronar
            </p>
            <br /><br /><br /><br /> <br>
          </div>
        </div>
      </div>
      <!-- Service - End -->
      <!-- Service - Start -->
      <div
        class="col-lg-4 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 service inviewport animated delay3"
        data-effect="fadeInUp"
      >
        <div class="service-wrap">
          <div class="pic">
            <img
              alt="service-image"
              class="img-responsive"
              src="assets/img/service-3.png"
            />
            <div class="info-layer transition">
              <a
                class="btn btn-primary fancybox"
                title="Ocean Freight Service"
                data-fancybox-group="service-gallery"
                href="assets/img/service-3.png"
                ><i class="icon icon-image-area"></i
              ></a>
            </div>
          </div>
          <div class="info">
            <h4 class="title">SEGUIMIENTO SATELITAL</h4>
            <p>Monitoreo satelital las 24hs los 365 días del año.</p>
            <br><br><br>
            <ul class="text-left">
              <li>Acceso web para clientes</li>
              <li>Interfaz clara y sencilla</li>
              <li>Reportes históricos</li>
            </ul>

          </div>
        </div>
      </div>
      <!-- Service - End -->
    </div>
  </div>
</section>
<!-- Section End - Major Services -->
<!-- Section Start - Tracking App -->

<!-- Section End - Tracking App -->
<!-- Section Start - Worldwide Centres -->
<section class="bg-black" id="worldwide">
  <div class="container">
    <div class="row">
      <h1 class="heading text-white">Nuestros Servicios</h1>
      <div class="headul"></div>
      <p class="subheading text-white">
        Realizamos viajes a todo el territorio nacional
      </p>
      <p class="text-white text-center">
        De Buenos Aires a Córdoba
      </p>
      <p class="text-white text-center">
        De Córdoba a Buenos Aires
      </p>
      <p class="text-white text-center">
        De Buenos Aires a Entre ríos
      </p>
      <p class="text-white text-center">
        De Entre ríos a Buenos Aires <br> <br>
        -Viajes semanales-
      </p>
      <div class="worldwide col-md-12 col-xs-12 mb-5">
        <div>
          <img
            src="assets/img/wordlwidecentres.png"
            class="img-responsive"
            alt="Map image"
            style="width: 100%"
          />
        </div>
        <!-- <div class="map-locations inviewport animated delay2" data-effect="fadeIn">
                  <img src="assets/img/map-locations-blue.png" class="img-responsive style-dependent" alt="Map Locations">
              </div> -->
        <!-- <div class="map-connect inviewport animated delay6" data-effect="fadeIn">
                  <img src="assets/img/map-connect-blue.png" class="img-responsive style-dependent" alt="Map Connections">
              </div> -->
      </div>
    </div>
  </div>
</section>
<!-- Section End - Worldwide Centres -->
<!-- Section Start - Company Updates -->

<!-- Section End - Company Updates -->
<!-- Section Start - Testimonials -->
<!-- <section class="testimonials parallax" id="testimonials">
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="row">
      <h1 class="heading">Testimonials</h1>
      <div class="headul"></div>
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <div class="row">

          <ul id="testimonial-carousel" class="owl-carousel">

            <li class="">
              <h5 class="testi" data-id="testi-1">
                Shipping Logistics is one of the top logistics providers in the
                industry. and first class customer service and live by the
                'Never Say Never' attitude to accomplish every mission.
              </h5>
              <div class="testi_by">
                <div class="pic">
                  <img src="assets/img/avatar-1.jpg" alt="User Avatar Image" />
                </div>
                <div class="name">Kate Douglas</div>
                <div class="company">Company Co. In.</div>
              </div>

            </li>

            <li class="">
              <h5 class="testi" data-id="testi-2">
                Asunt in anim uis aute irure dolor in reprehenderit in voluptate
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cun proident, sunt in anim id est laborum.
              </h5>
              <div class="testi_by">
                <div class="pic">
                  <img src="assets/img/avatar-2.jpg" alt="User Avatar Image" />
                </div>
                <div class="name">Jim Arthur</div>
                <div class="company">Company Co. In.</div>
              </div>

            </li>

            <li class="">
              <h5 class="testi" data-id="testi-1">
                Shipping Logistics is one of the top logistics providers in the
                industry. and first class customer service and live by the
                'Never Say Never' attitude to accomplish every mission.
              </h5>
              <div class="testi_by">
                <div class="pic">
                  <img src="assets/img/avatar-1.jpg" alt="User Avatar Image" />
                </div>
                <div class="name">Kate Douglas</div>
                <div class="company">Company Co. In.</div>
              </div>

            </li>

            <li class="">
              <h5 class="testi" data-id="testi-2">
                Asunt in anim uis aute irure dolor in reprehenderit in voluptate
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cun proident, sunt in anim id est laborum.
              </h5>
              <div class="testi_by">
                <div class="pic">
                  <img src="assets/img/avatar-2.jpg" alt="User Avatar Image" />
                </div>
                <div class="name">Jim Arthur</div>
                <div class="company">Company Co. In.</div>
              </div>

            </li>

          </ul>

        </div>
      </div>
    </div>
  </div>
</section> -->

<app-cotizacion></app-cotizacion>
<!-- Section End - Service Estimate -->
<!-- Section Start - Our Clients -->
