<section id='portfolio'>
  <div class="row gallery-row">
      <h1 class="heading">Showcase</h1>
      <div class="headul"></div>
      <p class="subheading">Lorem ipsum dolor sit amet, consectetuer adipiscing elit enean commodo eget dolor aenean massa eget dolor aenean massa</p>
      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 slider-area">
        <!-- Image Carousel - Start -->
        <ul id="image-slider" class="owl-carousel">
            <!-- Image Carousel Item - Start -->
            <li class="">
                <img alt="mission-carousel-image" class="lazyOwl img-responsive" data-src="assets/img/carouselmision_1.png" src="#">
            </li>
            <!-- Image Carousel Item - End -->
            <!-- Image Carousel Item - Start -->
            <li class="">
                <img alt="mission-carousel-image" class="lazyOwl img-responsive" data-src="assets/img/carouselmision_2.png" src="#">
            </li>
            <!-- Image Carousel Item - End -->
            <!-- Image Carousel Item - Start -->
            <li class="">
                <img alt="mission-carousel-image" class="lazyOwl img-responsive" data-src="assets/img/carouselmision_3.png" src="#">
            </li>
            <!-- Image Carousel Item - End -->
        </ul>
        <!-- Image Carousel - End -->
    </div>
  </div>
</section>
