<section class="estimate" id="estimate">
  <div class="estimate-wrap">
    <div class="row">
      <div
        class="col-lg-8 col-md-8 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10"
      >
        <h1 class="heading left-align">Solicitud de presupuesto</h1>
        <div class="headul left-align"></div>
        <p class="subheading left-align">
          Complete el siguiente formulario para solicitar una cotización de
          envío
        </p>
      </div>
      <div
        class="col-lg-4 col-md-4 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10"
      >
        <!-- Estimate Form - Start -->
        <div class="row">
          <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
            <div class="form-group">

              <input
                type="email"
                class="form-control"
                name="Email"
                aria-describedby="emailHelp"
                placeholder="Ingrese su email"
                formControlName="Email"
              />
            </div>
            <div class="form-group">

              <input
                type="text"
                class="form-control"
                name="Telefono"
                placeholder="Ingrese teléfono de contacto"
                formControlName="Telefono"
              />
            </div>
            <div class="form-group">

              <input
                type="text"
                class="form-control"
                name="Origen"
                placeholder="Ingrese localidad de origen"
                formControlName="Origen"
              />
            </div>
            <div class="form-group">

              <input
                type="text"
                class="form-control"
                name="Destino"
                placeholder="Ingrese localidad de destino"
                formControlName="Destino"
              />
            </div>
            <div class="form-group">

              <input
                type="text"
                class="form-control"
                name="Detalle"
                placeholder="Ingrese detalle de la carga"
                formControlName="Detalle"
              />
            </div>
            <div class="form-group">

              <input
                type="text"
                class="form-control"
                name="Kilos"
                placeholder="Ingrese peso de la mercaderia despachada"
                formControlName="Kilos"
              />
            </div>
            <div class="form-group">

              <input
                type="text"
                class="form-control"
                name="Valor"
                placeholder="Ingrese el valor declarado para el seguro en $"
                formControlName="Valor"
              />
            </div>
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="!FormData.valid"
            >
              Submit
            </button>
          </form>
        </div>
        <!-- Estimate Form - End -->
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <img
          src="assets/img/service_estimate.png"
          class="img-responsive style-dependent"
          alt="Estimate Fork Image"
        />
      </div>
    </div>
  </div>
</section>
