<section class='major-services gray-boxes container-fluid' id='major-services'>
  <div class="container-fluid mt-5">
      <div class="row">
          <h1 class="heading">NOSOTROS</h1>
          <div class="headul"></div>
          <p class="subheading"><strong>Transporte Nortruck SRL </strong> , es una empresa familiar que se inicia en el año 2006 y que brinda servicios de transporte de carga por carretera. Trabajamos para ser una solución para nuestros clientes, basados en la seguridad, calidad, economía, rapidez y eficiencia, ofreciendo un servicio personalizado a nuestros clientes, adaptándonos a sus necesidades.</p>
          <!-- Service - Start -->

          <!-- Service - End -->
      </div>
  </div>
</section>
<section class='mission bg-lightgray' id='mission'>
  <div class="container">
      <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 text-area">
              <h1 class="heading left-align">Nuestra mision</h1>
              <div class="headul left-align"></div>
              <p>Brindar soluciones logísticas que agreguen valor a nuestros clientes, con honestidad y relaciones sociales con nuestros proveedores. Comprometiéndonos en la mejora continua, cuidando del medio ambiente en el entorno que promueva el desarrollo de los colaboradores.</p>
              <!-- <a href="#" class="btn btn-primary">Know More</a> -->
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 slider-area">
              <!-- Image Carousel - Start -->
              <ul id="image-slider" class="owl-carousel">
                  <!-- Image Carousel Item - Start -->
                  <li class="">
                      <img alt="mission-carousel-image" class="lazyOwl img-responsive" data-src="assets/img/mission-1.jpg" src="#">
                  </li>
                  <!-- Image Carousel Item - End -->
                  <!-- Image Carousel Item - Start -->
                  <li class="">
                      <img alt="mission-carousel-image" class="lazyOwl img-responsive" data-src="assets/img/mission-2.jpg" src="#">
                  </li>
                  <!-- Image Carousel Item - End -->
                  <!-- Image Carousel Item - Start -->
                  <li class="">
                      <img alt="mission-carousel-image" class="lazyOwl img-responsive" data-src="assets/img/mission-3.jpg" src="#">
                  </li>
                  <!-- Image Carousel Item - End -->
              </ul>
              <!-- Image Carousel - End -->
          </div>
      </div>
  </div>
</section>
<!-- Section End - Our Mission -->
<!-- Section Start - Who We Are -->
<section class='whoweare padding-bottom-50' id='whoweare'>
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 whoweare-pic">
              <img src="assets/img/who-we-are.jpg" class="img-responsive" alt="Who We Are">
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 whoweare-info">
              <h1 class="heading left-align">Nuestra visión</h1>
              <div class="headul left-align"></div>
              <p>Ser una empresa  líder en el transporte de carga que ofrece solución a nuestros clientes, actuando responsablemente donde las personas se sienta orgullosas de  trabajar en ello, comprometidos en llevar a la práctica los principios de desarrollo sustentable.</p>
              <!-- <a href="#" class="btn btn-primary">Know More</a> -->
          </div>
      </div>
  </div>
</section>
<!-- Section End - Who We Are -->
<!-- Section Start - Features -->
<section class='major-services bg-lightgray' id='major-services'>
  <div class="container">
      <div class="row">
          <h1 class="heading">Nuestros valores</h1>
          <div class="headul"></div>

          <!-- Service - Start -->
          <div class="col-lg-4 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 service inviewport animated delay1" data-effect="fadeInUp">
              <div class="service-wrap">

                  <div class="info">
                      <h4 class="title">Fidelidad</h4>
                      <p>
                      Lealtad a los compromisos con nuestros clientes, empleados, proveedores y comunidad.
                      </p>
                  </div>
              </div>
          </div>
          <!-- Service - End -->
          <!-- Service - Start -->
          <div class="col-lg-4 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 service inviewport animated delay2" data-effect="fadeInUp">
              <div class="service-wrap">

                  <div class="info">
                      <h4 class="title">MEJORA CONTINUA</h4>
                      <p>Compromiso de innovar y dar soluciones a nuestros clientes.</p>
                      <br>
                  </div>
              </div>
          </div>
          <!-- Service - End -->
          <!-- Service - Start -->
          <div class="col-lg-4 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 service inviewport animated delay3" data-effect="fadeInUp">
              <div class="service-wrap">

                  <div class="info">
                      <h4 class="title">HONESTIDAD</h4>
                      <p>Trato claro con nuestros clientes, colaboradores, proveedores y comunidad.
                      </p>
                      <br>
                  </div>
              </div>
          </div>
          <!-- Service - End -->
      </div>
  </div>
</section>
<br>


<!-- Section End - Who We Are -->
<section class='bg-primary white-text' id='tracking-app-tablet'>
  <div class="container">
      <div class="row">
          <h1 class="heading">Compromiso general</h1>
          <div class="headul"></div>
          <p class="subheading">Desde TRANSPORTE NORTRUCK  S.R.L , trabajamos enfocados en ser para nuestros clientes un proveedor estratégico para desarrollar sus negocios.                                                                Priorizando la preservación del medio ambiente y desarrollo de la comunidad de la cual formamos parte.                                                                                                                                                                     La sustentabilidad es el pilar fundamental de nuestras operaciones.                                      Considerando que el éxito de nuestra empresa está directamente relacionado al bienestar de la comunidad en la que vivimos y trabajamos. Entendiendo que el desarrollo económico debe acompañar la inclusión social y el cuidado del medio ambiente, nos comprometemos a:</p>
          <div class="features">
            <!-- Feature - Start -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 feature-block inviewport animated delay1" data-effect="fadeInUp">
                <div class="icon-wrap">
                    <i class="icon icon-airplane68"></i>
                </div>
                <div class="info">
                    <h4 class="title"></h4>
                    <p>Asegurar la sustentabilidad de nuestras operaciones teniendo siempre en cuenta las consideraciones sociales, económicas y ambientales de las mismas..</p>
                </div>
            </div>
            <!-- Feature - End -->
            <!-- Feature - Start -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 feature-block inviewport animated delay2" data-effect="fadeInUp">
                <div class="icon-wrap">
                    <i class="icon icon-frontal19"></i>
                </div>
                <div class="info">
                    <h4 class="title"></h4>
                    <p>Desarrollar programas de concretización y capacitación de nuestro personal a efectos de sensibilizar y promover su compromiso con la sustentabilidad.
                    </p>
                </div>
            </div>
            <!-- Feature - End -->
            <!-- Feature - Start -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 feature-block inviewport animated delay1" data-effect="fadeInUp">
                <div class="icon-wrap">
                    <i class="icon icon-boat17"></i>
                </div>
                <div class="info">
                    <h4 class="title"></h4>
                    <p>Respetar los derechos humanos en general y de todo nuestro personal en particular.</p>
                </div>
            </div>
            <!-- Feature - End -->
            <!-- Feature - Start -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 feature-block inviewport animated delay2" data-effect="fadeInUp">
                <div class="icon-wrap">
                    <i class="icon icon-ocean3"></i>
                </div>
                <div class="info">
                    <h4 class="title"></h4>
                    <p>Colaborar con nuestra comunidad dentro de nuestras posibilidades.
                    </p>
                </div>
            </div>
            <!-- Feature - End -->
        </div>
      <!-- Feature - End -->


          <!-- <div class=" col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
              <div class="app-tablet">
                  <img src="assets/img/app-tablet-blue.png" alt="App Tablet" class="img-responsive tablet-black style-dependent inviewport animated delay2" data-effect="fadeInUp">
                  <img src="assets/img/app-tablet-locations-blue.png" alt="App Tablet Locations" class="img-responsive tablet-black-locations style-dependent inviewport animated delay6" data-effect="fadeInDown">
              </div>
          </div> -->
      </div>
  </div>
</section>
<!-- Section Start - Features -->

<!-- Section End - Features -->
